html, body
{
    width: 100%;
	height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	overflow-y: hidden;
}

.center {
	right: 50%;
	bottom: 50%;
	transform: translate(50%, 50%);
	position: absolute;
	font-family: monospace;
	font-size: 500%;
	color: #ffffff;
}

.button {
	right: 50%;
	transform: translate(50%, 50%);
	position: absolute;
	font-family: monospace;
	color: #ffffff;
}
